html, body {
    height: 100%;
}

body {
    background-color: #5eb5e0;
}
.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 150px;
    font-family: 'Pacifico', cursive;
}

.sub-title {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
}

.form-wrapper {
    display: flex;
    justify-content: center;

}

form {
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    margin-top: 80px;
    border: solid 2px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    border: black 3px solid;
    padding: 20px;
    border-radius: 20px;
    max-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

p {
    word-break: break-all;
}


@media only screen and (max-width: 600px) {

    .title {
        font-size: 100px;
    }
    .sub-title {
        font-size: 20px;
    }
    .card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}