html, body {
    height: 100%;
}

body {
    background-color: #5eb5e0;
}


.card-wrapper {
    border: 3px solid palegreen;
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr;
}

.card {
    border: black 3px solid;
    padding: 20px;
}

p {
    word-break: break-all;
}

@media (min-width: 600px) {
    .card-wrapper {
grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .card-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}