html, body {
    height: 100%;
}

body {
    background-color: #5eb5e0;
}
.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 150px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0;
}

.sub-title {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
    margin-bottom: 80px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

form {
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}


label {
    margin-block: 8px;
    font-weight: bold;
    display: block;
    font-family: 'Roboto', sans-serif;
}

#splap_form_duedate select {
    margin: 4px;
}

input, select, button {
    padding: 5px;
    margin: 5px 0;
    border: 2px solid #5eb5e0;
    border-radius: 4px;
}


button {
    background-color: #5eb5e0;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 80px;
    margin-inline: 30px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.card {
    border: black 3px solid;
    background: #c5e0f6;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}



p {
    word-break: break-all;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}


.handle {
    position: absolute;
    top: 15px;
    left: 15px;
}
.handle .fas:hover {
    cursor: move;
}

.sortable-ghost {
    opacity: 0.4;
    background-color: #c5e0f6;
}

.delete-link {

    text-decoration: none;
    position: absolute;
    font-size: 20px;
    right: 20px;
    top: 20px;
    color: black;
}


@media only screen and (max-width: 600px) {

    .title {
        font-size: 100px;
    }
    .sub-title {
        font-size: 20px;
    }

}