<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <title>{% block title %}Splap{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        {% endblock %}

    </head>
    <body>
    <div class="container">
        <div class="title-wrapper">
            <h1 class="title"><a href="{{ path('splap_show') }}">Splap</a></h1>
            <h4 class="sub-title">{% block sub_title %}Your simple savings planning app.{% endblock %}</h4>
        </div>

        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}

             <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    new Sortable(document.getElementById('card-list'), {
                        animation: 150,
                        handle: '.handle',
                        ghostClass: 'sortable-ghost',
                        dragClass: "sortable-drag",
                    });
                });




                document.querySelectorAll('.card').forEach(function(card) {
                    card.addEventListener('click', function(event) {
                        if (!event.target.classList.contains('delete-link')) {
                            window.location.href = card.dataset.link;
                        }
                    });
                });

                document.querySelectorAll('.delete-link').forEach(function(link) {
                    link.addEventListener('click', function(event) {
                        event.preventDefault();
                        event.stopPropagation();

                        var id = link.dataset.id;

                        fetch('/delete/' + id, {
                            method: 'POST',
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.status === 'success') {
                                    var card = link.closest('.card');
                                    card.classList.add('card-deleting');
                                    card.addEventListener('animationend', function() {
                                        card.remove();
                                    });
                                }
                            });
                    });
                });



            </script>

        {% endblock %}
        {% block page_specific_js %}{% endblock %}
    </body>
</html>
